body {
    width: 90%;
    height: 800px;
    margin: 5vh auto;
    
    display: grid;
    grid-template-areas: 'h h h h h'
                         'a a a s s'
                         'a a a s s'
                         'a a a s s'
                         'f f f f f' ;
                       
                         
}

header {
    grid-area: h;
    background-color: red;
   
   
    
}

section {
    background-color: blue; 
    padding: 5px;
    grid-area: a;

    
     display: grid;
    
     grid-template-columns: 33% 33% 33%;
     padding: 16px;
     gap: 0.5%;
     
     /* gap: 5px 5px; */

    /* grid-template-areas: 'b1 b2 b3 '
                         'b4 b5 b6 '
                         'b7 b8 b9 ';
                         gap: 5px 5px;  */

                         
      
    
}

article {
    
    background-color: rgb(0, 247, 255);
    
    
    
     /* grid-area: b1; 
     grid-area: b2; 
     grid-area: b3; 
     grid-area: b4; 
     grid-area: b5; 
     grid-area: b6; 
     grid-area: b7; 
     grid-area: b8;
     grid-area: b9;   */
    
    
   
}

aside {
    grid-area: s;
    background-color: green;
    
}

footer {
    grid-area: f;
    background-color: gray;
}